#root{
  width: 100%;
  height: 100%;
  background-color: #40892A
}
Nav{
  background-color: #97B3CD;
  font-size: large;
  font-weight:bold;
}
.mb-3{
  margin: 5px
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #40892A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#AccesiblityDiv{
  background-color: crimson;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  align-content: center;
  justify-items: center;
  position: absolute;
    bottom: 0px;
    width: 100%;
}
.navStyling{
    margin-right: 40px
}
.StaffBarItems{
  margin: 15px;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}
